@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,500;1,300;1,500&display=swap');
* {
    font-family: 'Poppins', sans-serif;
}
.body {
    box-sizing: border-box;
}
.main-body {
    display: flex;
    justify-content: center;
    align-items: center;
}
.main {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
    width: 672px;
    height: 1066px;
    
}
.header-box {
    display: flex;
    width: 600px;
    height: 140px;
    margin-top: 5px;
    background-image: url("./img//header-bg.png");
}
.header-box-1 {
    display: flex;
    width: 300px;
    height: 140px;
    justify-content: center;
}
.box-bolinha-lista {
    width: 157px;
    height: 157px;
    margin-top: 20px;
    margin-left: -18px;
}
.bolinha-lista {
    width: 100%;
    height: 100%;
}
.box-logo {
    width: 189px;
    height: 140px;
}
.img-logo {
    width: 189px;
    height: 67px;
    margin-top: 32px;
    margin-left: -68px;
}
.box-bolinha-col {
    display: flex;
    width: 40px;
    height: 140px;
}
.img-bolinha {
    width: 37px;
    height: 62px;
    margin-top: 115px;
    margin-left: 8px;
}
.box-arrow {
    width: 48px;
    height: 20px;
}
.arrow {
    width: 47px;
    height: 20px;
    margin-top: 18px;
    margin-left: 24px;
}

.header-box-2 {
    display: flex;
    width: 300px;
    height: 140px;
}
.box-mulher {
    width: 134px;
    height: 153px;
}
.mulher-img {
    width: 134px;
    height: 153px;
    margin-top: 50px;
    margin-left: -18px;
}
.sub-header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: end;
    text-align: end;
}
.box-triangle {
    width: 23px;
    height: 22px;
}
.triangle {
    width: 23px;
    height: 22px;
}
.box-h2 {
    height: 100%;
    color: #fff;
    font-size: 8px;
    margin-right: 10px;
}
.zigzag {
    width: 78px;
    height: 8px;
}

.main-box {
    display: flex;
    width: 550px;
}
.box-news {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 550px;
    height: 460px;
    margin-top: 20px;
}
.news-logo-box {
    display: flex;
    justify-content: center;
}
.logo-news {
    width: 550px;
    height: 260px;
}
.box-news-text {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 550px;
    margin-top: 0px;
}
.box-news-text h2, p {
    margin-top: 4px;
    margin-bottom: 0px;
}
.box-linha {
    width: 100%;
    margin-top: 10px;
}
.box-linha p {
    font-size: 14px;
    color: darkgray;
    font-style: italic;
}
.linha {
    width: 250px;
    height: 5px;
}
.new-two-box {
    display: flex;
    width: 550px;
    height: 100%;
}
.news {
    display: flex;
    width: 550px;
    height: 330px;
}
.box-two {
    display: flex;
    flex-direction: column;
    width: 50%;
}
.news-koby {
    width: 250px;
    height: 200px;
}
.box-title-news {
    width: 250px;
    height: 80px;
}
.box-title-news h2 {
    font-size: 18px;
    margin-top: 2px;
}
.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 600px;
    height: 100px;
    background-image: url("./img/footer-bg.png");
    margin-top: 0px;
}
.box-footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 600px;
    height: 80px;
}
.copyright {
    display: flex;
    width: 600px;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.box-copyright h3 {
    color: #737373;
    font-size: 12px;
    margin-top: 2px;
    margin-bottom: 2px;
}
.box-copyright a {
    color: #737373;
}